/*-- scss:defaults --*/
$theme-black: #1b1b1b;
$theme-teal: #79B4A9;
$theme-white: #F7F8F9;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic:wght@400;700&display=swap');

$body-bg: $theme-white;
$body-color: $theme-black;
$link-color: $theme-teal;

$font-family-sans-serif: 'Noto Sans JP', sans-serif;
$presentation-heading-font: 'BIZ UDPGothic', sans-serif;

/*-- scss:rules --*/


.center-v {
  display: flex;
  justify-content: center;
  align-items: center;
}


.tiny {
  font-size: 20%;
}

.small {
  font-size: 40%;
}

.medsmall {
  font-size: 60%;
}

.medium {
  font-size: 80%;
}

.normal {
  font-size: 100%;
}

.medlarge {
  font-size: 120%;
}

.large {
  font-size: 150%;
}

.small-margins {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.center {
  padding: 70px 0;
  text-align: center;
}

.right {
  float: right;
}

/* change font size of code chunks (not inline code) */
pre > code {
  font-size: 160%;
  line-height: 1.5; /* Optional: Improves readability */
  font-family: Consolas, "Courier New", monospace; /* Optional: Sets a monospace font */
}